header > div > span {
  margin: 20px;
  font-size: 30px;
}
header > div:nth-child(2) {
  margin: 0 10px;
  padding-bottom: 30px;
}
.logoImg {
  width: 250px;
  height: 150px;
}
header {
  background-color: #e6e6fa;
}
header a {
  color: #785bf570;
  text-decoration: none;
  font-weight: 700;
}
header a:hover {
  color: #785bf5;
}

h1 {
  margin: 50px;
}
.nav-active {
  color: #785bf5;
  padding-bottom: 23px;
  border-bottom: 7px solid #785bf5;
}
